<div class="row" id="contact">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h1>
            Contact
        </h1>
        <div class="paper-rocket">
        <i class="fa fa-paper-plane"></i>
        </div>

        <a class="btn_contact" href="#" target="_blank"><i class="fa fa-envelope"></i> Email</a>
        <a class="btn_contact" href="#" target="_blank"><i class="fa fa-envelope"></i> Facebook</a>
        <a class="btn_contact" href="#" target="_blank"><i class="fa fa-envelope"></i> LinkedIn</a>
    </div>
    <div class="col-md-4"></div>
</div>